#root {
    width: 100vw;
    height: 100vh;
    padding: 8px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.navContainer {
    height: 100%;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBox {
    padding: 8px 12px;
    margin-bottom: 8px;
    background-color: #121212;
    border-radius: 8px;
}

.navItem {
    padding: 4px 12px;
}

.navLink {
    width: 232px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.navIcon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.navText {
    font-size: 1rem;
    text-align: center;
    padding-top: 3px;
}

.navTextActive {
    color: white;
    font-weight: bold;
}

.navTextInactive {
    color: #b3b3b3;
    font-weight: 600;
}

.pageContent {
    flex-grow: 1;
    background-color: #121212;
    border-radius: 8px;
    position: relative;
}

.routes {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 64px;
    // background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    z-index: 10;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
}

.overlay {
    width: 100%;
    height: 333px;
    position: absolute;
    top: 0px;
    background-image: linear-gradient(#53535367, #12121200);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.directButtonContent {
    display: flex;
    gap: 8px;
}

.directButton {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: black;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.directButtonActive {
    opacity: 1;
    cursor: pointer;
}

.signInButton {
    border-radius: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1.0;

    &:hover {
        scale: 1.03;
    }
}

.signInText {
    padding: 12px 32px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-align: center;
}

.buttonsWrapper {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttonStyle {
    padding: 8px 30px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.userInfoContainer {
    height: 48px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.userAvatarButton {
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        scale: 1.05;
    }
}

.userWithoutAvatar {
    width: 50%;
    height: 50%;
}

.userWithAvatar {
    width: 100%;
    height: 100%;
    padding: 4px;
    border-radius: inherit;
}

.coinButton {
    height: 32px;
    border-radius: 16px;
    background-color: black;
    display: flex;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    color: #ffd700;
    font-size: 1rem;
    font-weight: normal;
    position: relative;

    &:hover {
        scale: 1.05;
    }
}